:root {
    font-size: 32px;
    font-size: min(4vw, 4vh);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    overflow: hidden;
}

button {
    display: block;
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid black;
    background-color: white;
    margin: 0.5rem;
}

button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#button {
    display: block;
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid grey;
    background-color: lightgrey;
    margin: 0.5rem;
}

#button:hover {
    background-color: #eeeeee;
}

.upgrades {
    border: 0.25rem solid black;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: scroll;
    height: calc(100% - 0.5rem);
}

p {
    margin: 0px;
}

hr {
    width: 8.5rem;
    border: 0.09rem solid black;
}