:root {
    font-size: 32px;
    font-size: min(4vw, 4vh);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    overflow: hidden;
    height: calc(100% - 0.5rem);
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
button {
    display: block;
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid black;
    background-color: white;
    margin: 0.5rem;
}

button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#button {
    display: block;
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #442200;
    background-color: #553311;
    margin: 0.5rem;
}

#stone {
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #555555;
    background-color: #aaaaaa;
    margin: 0.5rem;
}

#iron {
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #aaaaaa;
    background-color: #eeeeee;
    margin: 0.5rem;
}

#gold {
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #dd9911;
    background-color: #ffbb33;
    margin: 0.5rem;
}

#diamond {
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #0099bb;
    background-color: #00bbff;
    margin: 0.5rem;
}

#ruby {
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #aa0000;
    background-color: #ff0000;
    margin: 0.5rem;
}

#emerald {
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #00aa00;
    background-color: #00ff00;
    margin: 0.5rem;
}

#amythest {
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #aa00aa;
    background-color: #ff00ff;
    margin: 0.5rem;
}

#onix {
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #000000;
    background-color: #222222;
    margin: 0.5rem;
}

#sellbutton {
    display: block;
    height: 2rem;
    font-size: 1rem;
    border: 0.25rem solid #aa0000;
    background-color: #ff0000;
    margin: 0.5rem;
}

#button:hover {
    background-color: #775522;
}

#sellbutton:hover {
    background-color: #ff5555;
}

.upgrades {
    border: 0.25rem solid black;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: scroll;
    height: calc(100% - 0.5rem);
}

p {
    margin: 0px;
}

hr {
    width: 8.5rem;
    border: 0.09rem solid black;
}